@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";



.poppins {
  font-family: "Poppins", serif;
}

.font_mar {
  font-family: "Montserrat Alternates", sans-serif;
}

.font-fensi {
  font-family: "Passions Conflict", serif;
}


/* Header Section */
.header_div {
  @apply flex justify-center w-[800px] rounded-full gap-10 text-sm text-black bg-white py-2 px-2
}

.active {
  @apply text-cyan-500
}

.navlink {
  @apply text-3xl
}



@keyframes glossy {
  0% {
    translate: translateX(-100%);
  }

  100% {
    transition: translateX(100%);
  }
}

:root {
  background-color: #F5F5F5;
}

.animate-glossy {
  animation: glossy 2s infinite;
}

.mar {
  padding-bottom: 10px;
  background: linear-gradient(to left,
      #001affe3, #6b0485e3, #0026ffe3, #6b0485e3, #001affe3);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 200%;
  }
}

.bg_div {
  @apply h-44 w-44 rounded-md;
}


/* ///balls */